<nav >
    <div >
        <ul class="list">
            <li >
                <a href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class=" link" href="/api/books/">Просмотр книг</a>
            </li>
            <li>
                <a class=" link" href="/api/books/create">Создать книгу</a>
            </li>
            <li>
                <a class=" link" href="/api/user/login">Вход</a>
            </li>
            <li>
                <a class=" link" href="/api/user/signup">Регистрация</a>
            </li>
            <li>
                <a class=" link" href="/api/user/me">Профиль</a>
            </li>
            <li>
                <a href="api/user/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>